table, tr, td{
	border: 1px solid black;
	color: transparent;
	border-collapse: collapse;

}

table{
	 
	    margin: 0px;
	    border: 0px ;
	 
}

td{
	width: 45px;
	height: 40px;
	font-size: 5px;
}

.pixelGrid{
	position: absolute;
	top:45%;
	left:45%;
	transform: translate(-50%,-50%);
}		

.Red{ 
/*start block and end block red, E_col 1 start block,
E_col_10 finish block*/

	background-color: red;
}

.Green{
	background-color: green;
}

.White{
	background-color: white;
}

body { /*disable user highlight*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
    margin: 0px;
    border: 0px;
    background-color: #ff6b6b;
}
