table, tr, td{
	border: 1px solid black;
	color: transparent;

}

table{
	    border-collapse: collapse;
	    margin: 0px;
	    border: 0px ;
}

td{
	width: 50px;
	height: 50px;
}

.E_col_1, .E_col_10{ 
/*start block and end block red, E_col 1 start block,
E_col_10 finish block*/

	background-color: red;
}

.pixelGrid{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}	


.topDivBB{
	padding: 0px;
	margin: 0px;
	position: absolute;
	width: 61.5%;
	height:26.5%;
	left:19.3%;
	top: 17%;
	background-color: green;
}

.middleDivBB{
	padding: 0px;
	margin: 0px;
	position: absolute;
	width: 6%;
	height:20%;
	left:49.7%;
	top: 43.5%;
	background-color: blue;
}

.bottomLeftDivBB{
	padding: 0px;
	margin: 0px;
	position: absolute;
	width: 24.3%;
	height:33%;
	left:19.3%;
	top: 50%;
	background-color: yellow;
}

.bottomRightDivBB{
	padding: 0px;
	margin: 0px;
	position: absolute;
	width: 19.5%;
	height: 33%;
	right: 19%;
	top: 50%;
	background-color: yellow;
}

.bottomMiddleDivBB{

	padding: 0px;
	margin: 0px;
	position: absolute;
	width: 18.3%;
	height:13%;
	left:43.5%;
	bottom: 17%;
	background-color: blue;
}

.row_A td,.row_B td,.row_C td,.row_D td,.row_I td,.row_J td
{
	background-color: green;
}

.row_G td:nth-child(-n+4){ /*moves back from 4 to start*/
	background-color: green;
}
.row_G td:nth-child(n+8){ /*selects a list of items to set the colour*/
	background-color: green;
}

.row_H td:nth-child(-n+4){
	background-color: green;

}
.row_H td:nth-child(n+8){
	background-color: green;

}

.row_F td:nth-child(-n+4){
	background-color: green;

}
.row_F td:nth-child(n+8){/*starts at 8 and goes the the end*/
	background-color: green;

}

.E_col_6, .F_col_6, .G_col_6{
	background-color: green;
}



body::selection	{
	color: transparent;
}








	




